<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Cadastro</title>
</head>

<body>
    <div class="wrapper">
        <main>
            <div id="container-form">
                <form>
                    <h3>Cadastro de Clientes</h3>

                    <label>Nome</label>
                    <input type="text" name="nome" id="input-text" />
                    <label>CPF</label>
                    <input type="text" class="cpf" name="nome" id="input-text" />
                    <label>Data de Nacimento</label>
                    <input type="date" name="nome" id="input-date" />
                    <label>Data de Cadastro</label>
                    <input type="date" name="nome" id="input-date" />
                    <label>Renda Familiar</label>
                    <input type="text" name="nome" id="input-renda" />

                    <div class="foot">                       
                        <button class="btn btn-adicionar">Adicionar</button>
                    </div>



                </form>
            </div>
        </main>

    </div>
</body>

</html>